@model WebApplication1.Models.User

@{
    ViewBag.Title = "Welcome";
}

<h2 class="back">Welcome To Citizen Pulse</h2>


    
        
          <b> <h2 >@Html.ActionLink("Register As Customer", "CUSTOM", "Customer")</h2></b>
        
        
            <b><h2 >@Html.ActionLink(" Your Survey Form Info", "CustomerId", "DisplayForm")</h2></b>
        
        
            <b><h2>@Html.ActionLink("List Of Survey Categories", "ListAllCat", "Queestion")</h2></b>
        
        
            <b><h2 > @Html.ActionLink("Create Your Survey", "survey", "survey")</h2></b>
        
            <b><h2 > @Html.ActionLink("Check Survey Response", "survey", "survey")</h2></b>
            



    
